@model Tarefa

<div class="container">
  <h2>Atualizar Tarefa: @Model.Nome</h2>
  <div>
    <form asp-action="Atualizar" as method="post">
      
      <div asp-validation-summary="All" class="text-danger"></div>
      
      @* TODO: refatorar -> atualizar apenas campos modificados *@
      <input type="hidden" value="@Model.TarefaID" asp-for="TarefaID"/>
      <input type="hidden" value="@Model.Nome" asp-for="Nome"/>
      <input type="hidden" value="@Model.HorasEstudadas" asp-for="HorasEstudadas"/>
      <input type="hidden" value="@Model.MetaHoras" asp-for="MetaHoras"/>
      <input type="hidden" value="@Model.CriadaEm" asp-for="CriadaEm"/>
      
      <div class="form-group">
        <label>Livro/Curso:</label>
        <input type="text" asp-for="Bibligrafia" class="form-control"/>
      </div>

      <div class="form-group">
        <label>Unidade/Capítulo atual:</label>
        <input type="text" asp-for="Unidade" class="form-control"/>
      </div>
      
      <div class="form-group">
        <label>Descricao:</label>
        <input type="text" asp-for="Descricao" class="form-control"/>
      </div>
        
      <div class="form-group">
        <label>Prioridade</label>
        <input type="range" min="@Prioridades.Minima.Value" max="@Prioridades.Maxima.Value" step="0.5" 
               list="ticks" asp-for="Prioridade" value="@Model.Prioridade" id="prioridade"/>
        <datalist id="ticks">
          <option value="@Prioridades.Minima.Value"/>
          <option value="@Prioridades.Baixa.Value"/>
          <option value="@Prioridades.Normal.Value"/>
          <option value="@Prioridades.Alta.Value"/>
          <option value="@Prioridades.Maxima.Value"/>
        </datalist>
      </div>
      <div>
        <input type="submit" class="btn btn-dark" value="Atualizar"/>
      </div>
    </form>
  </div>
</div>