@model Tarefa

<div class="container">
  <div>Criar Tarefa</div>
  <div>
    <form asp-action="CriarTarefa" method="post" 
          onsubmit="confirmUpdate.disabled=true; confirmUpdate.value='Aguarde'; return true;">
      
      <div asp-validation-summary="All" class="text-danger"></div>
      
      <div class="form-group">
        <label>Nome:</label>
        <input type="text" asp-for="Nome" class="form-control"/>
      </div>

      <div class="form-group">
        <label>Livro/Curso:</label>
        <input type="text" asp-for="Bibligrafia" class="form-control"/>
      </div>

      <div class="form-group">
        <label>Unidade/Capítulo atual:</label>
        <input type="text" asp-for="Unidade" class="form-control"/>
      </div>
      
      <div class="form-group">
        <label>Descricao:</label>
        <input type="text" asp-for="Descricao" class="form-control"/>
      </div>
      
      <div class="form-group">
        <label>Prioridade</label>
        <input type="range" min="@Prioridades.Minima.Value" max="@Prioridades.Maxima.Value" step="0.5" 
               list="ticks" asp-for="Prioridade" value="@Prioridades.Normal.Value" id="prioridade"/>
        <datalist id="ticks">
          <option value="@Prioridades.Minima.Value"/>
          <option value="@Prioridades.Baixa.Value"/>
          <option value="@Prioridades.Normal.Value"/>
          <option value="@Prioridades.Alta.Value"/>
          <option value="@Prioridades.Maxima.Value"/>
        </datalist>
      </div>
      <div>
        <input type="submit" class="btn btn-dark" value="Adicionar" name="confirmUpdate"/>
      </div>
    </form>
  </div>
</div>